{% extends "layouts/evensimpler.njk" %}



{% block postContent %}
<div class="service-area">
        <div class="container">
            <div class="col-lg-6">

           <ul class="no-bullets">
               {% for key in collections.philosophy %}
                <li><a href="{{ key.url }}"><h6>{{ key.data.title }}<h6></a> </li>
               
       {% endfor %}
           </ul>    
         </div>
       </div>
    </div>
     
{% endblock postContent%}


       