{% extends "base.njk" %}



{% block content %}
<p>{{ venue }}</p>
     <div class="row">
       <div class="col-8">
            <h2>{{ title }}</h2>
             </div>
               <div style="line-height: 100%"; class="col-4 text-right">
                    <p>{{ motto }}</p>
                     <p><em>{{ source }} </em></p>
              </div>        
         </div>
       
          
       
        

        <div>
         <p class="text-muted">{{ date }}</p>
        </div>

         <div>
         {{ content | safe }}
         </div>


          <br>
         
            <h4>Kommentare</h4>
            {% set thing=staticmanEntries | length %}
               <script> console.log("comments " + {{ thing }})</script>

            {%- if (staticmanEntries | length) > 0 %}
            {%- for entry in staticmanEntries | reverse %}
                <blockquote>{{ entry.message }} <small>({{ entry.name }}{%- if entry.date %}, {{ entry.date | htmlDateString }}{%- endif %})</small></blockquote>
            {%- endfor %}
            {%- else %}
            <p>Keine Kommentare bisher.</p>
            {%- endif %}

            <h5>Kommentar hinzufügen</h5>
            {% include "addcomment.njk" %}
            
   



           {% if prevPost.url %}
                  
                    <!--<a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>-->
                    <a class="previous" href="{{ prevPost.url }}">Vorheriger</a>
                    |
                {% endif %} 
                
                 {% if nextPost.url %}
                   
                    
                    <a class="next" href="{{ nextPost.url }}">Nächster</a>
                   
                {% endif %}
                



{% endblock content %}

            
