---
title: News
layout: layouts/simple.njk
backgroundImage: "/assets/img/default.png"
---

<div class="container">




  <ul class="no-bullets">
  {% for article in news.articles %}
  <li>
  <h6><a  href="{{article.url }}">{{article.title }}</a></h6>
  <span>{{ article.source.name}} - <time>{{ article.publishedAt }}</time></span>
  </li>
  {% endfor %}
  </ul>
  <br>
    <br>