---
layout: layouts/evensimpler.njk
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "{{ tagPage.permalink }}"
title: "Beiträge mit Tag: {{ tagPage.tag }} (Seite {{ tagPage.pageNumber }} von {{ tagPage.totalPages }})"
motto: ""
source: ""
---

<ul class="no-bullets">
  {%- for post in tagPage.posts -%}
    <li><a href="{{ post.url | url}}"><h5>{{ post.data.title }}</h5></a>
      <small class="text-muted">{{ post.date | readableDate }}</small>
    </li>
    {% excerpt post %} <a href="{{ post.url | url}}"> [weiter]</a>
    <br>
  {%- endfor -%}
</ul>

<div>
  {%- if tagPage.pageNumber > 1 -%}
    {%- if tagPage.pageNumber == 2 -%}
      <a href="/tags/{{ tagPage.slug }}/">« Neuere</a>
    {%- else -%}
      <a href="/tags/{{ tagPage.slug }}/page/{{ tagPage.pageNumber - 1 }}/">« Neuere</a>
    {%- endif -%}
  {%- endif -%}
  {%- if tagPage.pageNumber < tagPage.totalPages -%}
    {%- if tagPage.pageNumber > 1 -%} | {%- endif -%}
    <a href="/tags/{{ tagPage.slug }}/page/{{ tagPage.pageNumber + 1 }}/">Ältere »</a>
  {%- endif -%}
</div>

<p><a href="/">Zurück zur Startseite</a></p>


