---
layout: layouts/evensimpler.njk
pagination:
  data: collections.tagNameList
  size: 1
  alias: tag
eleventyComputed:
  permalink: "/tags/{{ tag | slugify }}/"
  title: "Letzte {{ tag }} Posts"
motto: ""
source: ""
---

<ul class="no-bullets">
  {%- set posts = collections[tag] | reverse -%}
  {%- for post in posts -%}
    {%- if post.data.tags and ("levity" in post.data.tags) -%}
      <li><a href="{{ post.url | url}}"><h5>{{ post.data.title }}</h5></a>
        <small class="text-muted">{{ post.date | readableDate }}</small>
      </li>
      {% excerpt post %} <a href="{{ post.url | url}}"> [weiter]</a>
    {%- endif -%}
  {%- endfor -%}
</ul>

<!-- All posts for the tag are listed on a single page; pagination can be re-added later. -->

<p><a href="/">Zurück zur Startseite</a></p>


