---
layout: layouts/evensimpler.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tagObj
permalink: "/tags/{{ tagObj.slug }}/"
title: "Beiträge mit Tag: {{ tagObj.name }}"
motto: ""
source: ""
---

<ul class="no-bullets">
  {%- for post in collections.levity -%}
    {%- if post.data.tags and (post.data.tags | join(',') | lower | contains(tagObj.name | lower)) -%}
      <li><a href="{{ post.url | url}}"><h5>{{ post.data.title }}</h5></a>
        <small class="text-muted">{{ post.date | readableDate }}</small>
      </li>
      {% excerpt post %} <a href="{{ post.url | url}}"> [weiter]</a>
      <br>
    {%- endif -%}
  {%- endfor -%}
</ul>

<p><a href="/">Zurück zur Startseite</a></p>


